<launch>
	<arg name="ns" default="/"/> 
	<group ns="$(arg ns)">
		<include file="$(find evarobot_eio)/launch/evarobot_rgb.launch" />
		
		<include file="$(find evarobot_odometry)/launch/evarobot_odometry.launch" />
		<include file="$(find evarobot_controller)/launch/evarobot_controller.launch" />
		<include file="$(find evarobot_driver)/launch/driver.launch" />
		
		<include file="$(find evarobot_bumper)/launch/evarobot_bumper.launch" />
		<include file="$(find evarobot_infrared)/launch/evarobot_infrared.launch" />
		<include file="$(find evarobot_sonar)/launch/evarobot_sonar.launch" />
		
	</group>
 </launch>
