Source: ros-indigo-evarobot-start
Section: misc
Priority: extra
Maintainer: Mehmet Akcakoca <akcakocamehmet@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://evarobot.com
Standards-Version: 3.9.2

Package: ros-indigo-evarobot-start
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The evarobot_start package
