<launch>
	<master auto="start"/>
	
	<!-- Run evarobot_odometry -->
	<node pkg="evarobot_odometry" type="evarobot_odometry" respawn="false" name="evarobot_odometry" output="screen">
		<rosparam file="$(find evarobot_odometry)/params/evarobot_odometry_params.yaml" command="load"/>
	</node>
	
</launch>
