<launch>
	<master auto="start"/>
	
	<!-- Run evarobot_orientation -->
	<node pkg="evarobot_orientation" type="evarobot_orientation" respawn="false" name="evarobot_orientation" output="screen">
		<rosparam file="$(find evarobot_orientation)/params/evarobot_orientation_params.yaml" command="load"/>
	</node>
	
	
</launch>
